.id {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  width: 200%;
  justify-content: flex-start;
  transition: left 1.0s ease;
  align-items: center;
}

.card {
  position: relative;
  width: 80vw;
  margin-left: 3%;
  position: relative;
  font-size: 2.5vh;
  padding-top: 10px;
  color: rgb(240, 248, 255);
  background-color: rgb(0, 0, 0);
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 30px;
  left: 0;
  transition: left 1s ease;
}

.moveCard {
  animation: slideInXFromRight 0.8s ease forwards;

}

.returnCard {
  animation: slideInXFromLeft 0.8s ease forwards;
}


.name {
  margin-bottom: 5vh;
}

.image {
  border-radius: 50px;
  border: 5px solid #282828;
  height: 50vh;
}

.platforms {
  width: 30%;
}

.nameAndDate {
  gap: 5vw;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.imageContainer {
  display: flex;
  justify-content: center;
}


.descriptionButton {
  width: fit-content;
  position: absolute;
  right: 10px;
  height: 4vh;
  background-color: #282828;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  transition: color 0.3s ease;
  border-radius: 15px;
  bottom: 22px;
}

.descriptionButton:hover {
  background-color: #aaaaaa;
  color: #000000;


}

.description {
  font-size: 24px;
  border-radius: 35px;
  width: -moz-fit-content;
  left: 40px;
  position: relative;
  max-width: 94vw;
  min-width: 94vw;
  flex-direction: column;
  position: relative;
  margin-left: 5%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  color: #fff;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  transform-origin: bottom;
  overflow: hidden;
  display: flex;



}




@keyframes slideInXFromLeft {
  from {
    left: -2000px;
  }

  to {
    left: 0;

  }
}

@keyframes slideInXFromRight {
  from {
    left: 0;
  }

  to {
    left: -2000px;

  }
}

.loadingText {
  left: 48vw;
  margin-top: 35vh;
  position: relative;
}